{{!-- <h1>r/<span id="sr-name">{{subrepost.name}}</span> <a href="#modal-center" uk-toggle><span uk-icon="icon: info; ratio: 2"></span></a></h1> --}}
<h1>My Posts</h1>
<hr>
{{!-- Posts --}}
<ul class="uk-list">
{{#each posts}}
  <li>
    <a href="/p/{{this.post._id}}">
      <div class="uk-card uk-card-body uk-card-default">
        <h1>{{this.post.title}}</h1> <p>by <b>{{this.post.username}}</b> on <b>{{this.date}}</b></p>
      </div>
    </a>
  </li>
{{/each}}
</ul>



<div id="modal-center" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h1>r/{{subrepost.name}}
      {{#if moderator}}
        <a class="remove" onclick="deleteSub('{{subrepost.name}}')"><span uk-icon="icon: trash; ratio: 1.5"></span></a>
      {{/if}}
    </h1>
    <hr>
    <p>{{subrepost.description}}</p>
    {{#if moderator}}
      <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
          Users
          <ul id="user-list" class="uk-list uk-list-striped">
          </ul>
        </div>

        <div>
          Moderators
          <ul id="mod-list" class="uk-list uk-list-striped">
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<script src="/static/js/general.js"></script>
<script src="/static/js/onesr.js"></script>