<h1>My Posts</h1>
<hr>
{{!-- Posts --}}
<ul class="uk-list">
{{#each posts.post}}
  <li>
    <a href="/p/{{this.post._id}}">
      <div class="uk-card uk-card-body uk-card-default">
        <h1>{{this.post.title}}</h1> <p>by <b>{{this.post.username}}</b> on <b>{{this.date}}</b></p>
      </div>
    </a>
  </li>
{{else}}
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title"><a href="https://thanosjs.org/"><img data-src="/static/img/ig.png" width="5%" uk-img></a> Sigh...</h3>
    <p>Looks, like Thanos snapped again...</p>
  </div>
{{/each}}
</ul>

<script src="/static/js/general.js"></script>