<h1>r/{{subrepost.name}} <a href="#modal-center" uk-toggle><span uk-icon="icon: info; ratio: 2"></span></a></h1>
<hr>


<div id="modal-center" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h1>r/{{subrepost.name}}</h1>
    <hr>
    <p>{{subrepost.description}}</p>
    {{#if moderator}}
      <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
          Users
          <ul class="uk-list uk-list-striped">
            {{#each subrepost.users}}
              {{#unless this.moderator}}
                <li><h3>{{this.username}} <a class="remove"><span uk-icon="icon: ban"></span></a> <a class="add"><span uk-icon="icon: plus-circle"></span></a></h3></li>
              {{/unless}}
            {{/each}}
            <li><a class="add"><span uk-icon="icon: plus-circle; ratio: 1.5"></span></a></li>
          </ul>
        </div>

        <div>
          Moderators
          <ul class="uk-list uk-list-striped">
            {{#each subrepost.users}}
              {{#if this.moderator}}
                <li><h3>{{this.username}} <a class="remove"><span uk-icon="icon: ban"></span></a> <a class="remove"><span uk-icon="icon: pull"></span></a></h3></li>
              {{/if}}
            {{/each}}
            <li><a class="add"><span uk-icon="icon: plus-circle; ratio: 1.5"></span></a></li>
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<script src="/static/js/general.js"></script>
